/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
.container{
    margin-bottom: 45px;
}

/* copa america 2021 styles */
.copa-america{
    background-color: #2D25A0;
    margin: 0;
}
.copa-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title-copa{
    color: white;
    font-size: 64px;
    font-weight: 700;
}
.watch{
    background-color:#E02C6D;
    color: white;
    width: 168px;
    height: 44px;
    border: none;
    padding: 10px, 24px, 10px, 24px;
    margin-bottom: 151px;
}
.banner img{
    width: 556px;
    height: 438;
}
.banner:hover {
    transform: rotate(30deg);
    transition: transform 3s ease-in;
}

/*----------------------------
 full player information styles
 ----------------------------- */
 
 .player-info{
     width: 1050px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 30px;
     grid-row-gap: 27px;
     margin-left: 145px;
 }
 .players{
     background-color: #FFFFFF;
     box-shadow: 10px 10px 30px gray;
     padding: 15px;
     border-radius: 5px;
 }
.player-image img{
    width: 300px;
    height: 256px;
}
.player-name{
    font-weight: 700;
    font-size: 28px;
}
.player-details{
    width: 300px;
    height: 154px;
}

/*---------- highlights-football--------- */
.highlight-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.highlights{
    width: 500px;
    margin-left: 100px;
    margin-right: 50px;
    padding-top: 80px;
}
.highlights h1{
    font-size: 48px;
    font-weight: 700;
}
.match{
    margin-right: 80px;
    width: 50%;
}
.match img{
    width: 567px;
    height: auto;
}




/*----------- ---
Team ranking style 
----------------*/
table{
    background-color: #fcfcfc;;
    margin: 145px;
    width: 80%;
    text-align: center;
}
caption{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 700;
    color: orange;
}
table, th, td{
    border-bottom: 1px solid #e6e6e6;
    border-collapse: collapse;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    padding: 20px 20px;
}
table thead{
    background-color: #02a8f4;
    height: 30px;

}
table img{
    width: 40px;
    height: 40px;
}




/* --------------
footer style
----------------- */
.logo{
    width: 483;
    height: 213px;
    text-align: center;
}

.logo img{
    width: 438px;
    height: 110px;
}
.icon{
    padding-top: 30px;
}
.icon a{
    margin-right: 15px;
}

/*--------------
 media queries
 --------------- */
 @media only screen and (max-width: 600px) {
     .container{
        width: 100%;
     }
     .copa-details, .player-info, .highlights, table, footer{
         display: grid;
         flex-direction: column;
     }
     .copa-america, .players, .highlights, footer{
         grid-template-columns: repeat(1, 1fr);
     }
 }
 @media only screen and (min-width: 700px)and(max-width: 991px) {
     .container{
        width: 100%;
     }
     .copa-details, .player-info, .highlights, table, footer{
         display: grid;
         flex-direction: column;
     }
     .copa-america, .players, .highlights, footer{
         grid-template-columns: repeat(2, 1fr);
     }
 }
 @media only screen and (min-width: 992px)and(max-width: 1100px) {
     .container{
        width: 100%;
     }
     .copa-details, .player-info, .highlights, table, footer{
         display: grid;
         flex-direction: column;
     }
     .copa-america, .players, .highlights, footer{
         grid-template-columns: repeat(1, 1fr);
     }
 }